<div class="row">
  <div class="large-12">
    <h1>Sitcoms</h1>
    <ul>
      <% @sitcoms.each do |sitcom| %>
        <li><%= link_to sitcom.name, sitcom_path(sitcom) %></li>
      <% end %>
    </ul>

    <%= link_to "Add New Sitcom", new_sitcom_path, :class => "button" %>
    <%= paginate @sitcoms %>

    <div class="row work">
      <hr>
      <div class="large-12 columns">
        <h4>Meet the Team!</h4>
        <p>Click on an image and connect to us on LinkedIn</p>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
          <li>
            <div id="foto">
              <%= link_to('https://www.linkedin.com/in/katebuckner') do %>
                <%= image_tag('/assets/kate-pic.jpg', alt: 'Kate Buckner') %>
              <% end %>
            </div>
          </li>
          <li>
            <div id="foto">
              <%= link_to('https://www.linkedin.com/in/tobiaskahn') do %>
                <%= image_tag('/assets/toby-pic.jpg', alt: 'Tobias Kahn') %>
              <% end %>
            </div>
          </li>
          <li>
            <div id="foto">
              <%= link_to('https://www.linkedin.com/in/roccobasso') do %>
                <%= image_tag('/assets/rocco-pic.png', alt: 'Rocco Basso') %>
              <% end %>
            </div>
          </li>
          <li>
            <div id="foto">
              <%= link_to('https://www.linkedin.com/in/kylelreeves') do %>
                <%= image_tag('/assets/kyle-pic.jpg', alt: 'Kyle Reeves') %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
