<div class="row">
  <div class="small-12 small-centered column inner-container">
    <div class="carousel">
      <%= image_tag "buster_scream_faded.png" %>
      <div class="row logo">
        <div class="small-12 centered column">
          <%= image_tag "sitcom_logo.png" %>
        </div>
      </div>
      <%= link_to "Add New Sitcom", new_sitcom_path, :class => "add-sitcom large button" %>
    </div>

    <div class="row">
      <div class="small-8 small-centered info-bar columns">
        <div class="site-summary">
      Help us find and review the world's funniest TV shows!
        </div>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns list-container">
        <div class="medium-4 small-12 columns top-10">
          <% images = [] %>
          <% @sitcom_manager.highest_rated.each do |sitcom| %>
            <% images << sitcom.image unless sitcom.image.path.nil? %>
          <% end %>
          <% if images.empty? %>
            <% images << "anyang.png" %>
          <% end %>
          <%= image_tag images[rand(0..images.length - 1)], class: "list-image" %>
          <div class="list">
            <p class="list-header">TOP 10</p>
            <ol class="list-item">
              <% @sitcom_manager.highest_rated.each do |sitcom| %>
                <li><%= link_to sitcom.name, sitcom_path(sitcom) %></li>
              <% end %>
            </ol>
          </div>
        </div>
        <div class="medium-4 small-12 columns">
          <% images = [] %>
          <% @sitcom_manager.newest_sitcoms.each do |sitcom| %>
            <% images << sitcom.image unless sitcom.image.path.nil? %>
          <% end %>
          <% if images.empty? %>
            <% images << "anyang.png" %>
          <% end %>
          <%= image_tag images[rand(0..images.length - 1)], class: "list-image" %>
          <div class="list newest">
            <p class="list-header">NEWEST</p>
            <ol class="list-item">
              <% @sitcom_manager.newest_sitcoms.each do |sitcom| %>
                <li><%= link_to sitcom.name, sitcom_path(sitcom) %></li>
              <% end %>
            </ol>
          </div>
        </div>
        <div class="medium-4 small-12 columns most-reviewed">
          <% images = [] %>
          <% @sitcom_manager.most_reviewed.each do |sitcom| %>
            <% images << sitcom.image unless sitcom.image.path.nil? %>
          <% end %>
          <% if images.empty? %>
            <% images << "anyang.png" %>
          <% end %>
          <%= image_tag images[rand(0..images.length - 1)], class: "list-image" %>
          <div class="list">
            <p class="list-header">MOST REVIEWED</p>
            <ol class="list-item">
              <% @sitcom_manager.most_reviewed.each do |sitcom| %>
                <li><%= link_to sitcom.name, sitcom_path(sitcom) %></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row work">
      <hr>
      <div class="large-12 columns">
        <h4>Meet the Team!</h4>
        <p>Click on an image and connect to us on LinkedIn</p>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
          <li>
            <div id="foto">
              <%= link_to('https://www.linkedin.com/in/katebuckner') do %>
                <%= image_tag('kate-pic.jpg', alt: 'Kate Buckner') %>
              <% end %>
            </div>
          </li>
          <li>
            <div id="foto">
              <%= link_to('https://www.linkedin.com/in/tobiaskahn') do %>
                <%= image_tag('toby-pic.jpg', alt: 'Tobias Kahn') %>
              <% end %>
            </div>
          </li>
          <li>
            <div id="foto">
              <%= link_to('https://www.linkedin.com/in/roccobasso') do %>
                <%= image_tag('rocco-pic.png', alt: 'Rocco Basso') %>
              <% end %>
            </div>
          </li>
          <li>
            <div id="foto">
              <%= link_to('https://www.linkedin.com/in/kylelreeves') do %>
                <%= image_tag('kyle-pic.jpg', alt: 'Kyle Reeves') %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
