<div class="row">
  <div class="small-12 small-centered column inner-container">
    <div class="carousel">
      <%= image_tag "buster_scream_faded.png" %>
      <div class="row logo">
        <div class="small-12 centered column">
          <%= image_tag "sitcom_logo.png" %>
        </div>
      </div>
      <%= link_to "Add New Sitcom", new_sitcom_path, :class => "add-sitcom button" %>
    </div>

    <div class="row">
      <div class="small-8 small-centered info-bar columns">
        <div class="site-summary">
          <p>Don't get pigeon-holed by the name.</p>
          <p>This is a place where you can find and review all funny shows!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns list-container">
        <div class="medium-4 small-12 columns top-10">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <div class="list">
            <p class="list-header">TOP 10</p>
            <ol class="list-item">
              <li>Arrested Development</li>
              <li>Archer</li>
              <li>Seinfeld</li>
              <li>Flight of the Conchords</li>
            </ol>
          </div>
        </div>
        <div class="medium-4 small-12 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <div class="list newest">
            <p class="list-header">NEWEST</p>
            <ol class="list-item">
              <li>Broad City</li>
              <li>Another new sitcom</li>
              <li>Needs a third for border to look ok</li>
              <li>And a fifth</li>
            </ol>
          </div>
        </div>
        <div class="medium-4 small-12 columns most-reviewed">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <div class="list">
            <p class="list-header">MOST REVIEWED</p>
            <ol class="list-item">
              <% @sitcoms.each do |sitcom| %>
                <li><%= link_to sitcom.name, sitcom_path(sitcom) %></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= paginate @sitcoms %>
