<div class="row">

  <h3><%= @sitcom.name %></h3>

  <ul>
    <li>Description: <%= @sitcom.description %></li>
    <li>Start Year: <%= @sitcom.start_year %></li>
    <li>End Year: <%= @sitcom.end_year %></li>
    <li>Genre: <%= @sitcom.genre %></li>
    <li>Network(s): <%= @sitcom.network %></li>
  </ul>

  <% if @sitcom.owner?(current_user) %>
    <%= link_to "Delete", @sitcom, method: :delete, :class => "button", data: {confirm: "Are you sure?"} %>
    <%= link_to "Edit", edit_sitcom_path, :class => "button" %>
  <% end %>

  <%= link_to "Write Review", new_sitcom_review_path(@sitcom), :class => "button" %>


  <h3> Reviews </h3>
  <% @reviews.each do |review| %>
    <ul class="reviews">
      <li><%= review.body %> Rating: <%= review.rating %></li>
      <% if review.owner?(current_user) %>
        <%= link_to "Edit", edit_review_path(review), :class => "button" %>
        <%= link_to "Delete", review, method: :delete, :class => "button", data: {confirm: "Are you sure?"} %>
      <% end %>

      <%= link_to "Comment on Review", new_review_comment_path(review), :class => "button" %>

      <% review.comments.each_with_index do |comment, i| %>
        <p> Comment <%= i + 1 %>: <%= comment.body %> </p>
      <% end %>

    </ul>
  <% end %>
  <%= paginate @reviews %>
</div>
