<div class="row">
  <div class="medium-4 columns">
    <hr>
      <img><%= image_tag @sitcom.image_url %></img>
        <hr>
          <em><%= "#{@reviews.length} reviews" %></em>
            <table>
              <tbody>
                <tr>
                  <td><strong>Start Year:</strong></td>
                  <td><%= @sitcom.start_year %></td>
                </tr>
                <tr>
                  <td><strong>End Year:</strong></td>
                  <td><%= @sitcom.end_year %></td>
                </tr>
                <tr>
                  <td><strong>Genre:</strong></td>
                  <td><%= @sitcom.genre %></td>
                </tr>
                <tr>
                  <td><strong>Network(s):</strong></td>
                  <td><%= @sitcom.network %></td>
                </tr>
                <tr>
                  <td><strong>Average Rating:</strong></td>
                  <td><span class="avg_rating" data-score= <%= @avg_rating %>></span></td>
                </tr>
              </tbody>
          </table>
          <% if @sitcom.owner_or_admin?(current_user) %>
            <%= link_to "Delete", @sitcom, method: :delete, :class => "button small radius", data: {confirm: "Are you sure?"} %>
            <%= link_to "Edit", edit_sitcom_path, :class => "button small radius" %>
          <% end %>
          <%= link_to "Write Review", new_sitcom_review_path(@sitcom), :class => "button small radius" %>
  </div>
  <div class="medium-7 offset-1 columns">
    <h2><%= @sitcom.name %></h2>
      <hr>
    <h5 class="subheader"> Description </h5>
      <p><%= @sitcom.description %></p>
    <h4> Reviews </h4>
    <% @reviews.each do |review| %>
      <div class="panel review">
        <div class="review_rating" data-score= <%= review.rating %>></div>
        <div class="voting">
        <% if review.user_upvoted?(current_user) %>
          <%= link_to "⬆", review_upvotes_path(review), method: :post, :class => "upvote" %>
        <% else %>
          <%= link_to "⬆", review_upvotes_path(review), method: :post %>
        <% end %>
        <% if review.user_downvoted?(current_user) %>
          <%= link_to "⬇", review_downvotes_path(review), method: :post, :class => "downvote" %>
        <% else %>
          <%= link_to "⬇", review_downvotes_path(review), method: :post %>
        <% end %>
      <%= review.sum_of_votes %>
      </div>
        <p class="review_body"><%= review.body %></p><p>Posted by: <%= review.user.email %></p>

        <% if review.owner_or_admin?(current_user) %>
          <%= link_to "Edit", edit_review_path(review), :class => "button small" %>
          <%= link_to "Delete", review, method: :delete, :class => "button small", data: {confirm: "Are you sure?"} %>
        <% end %>

        <%= link_to "Comment on Review", new_review_comment_path(review), :class => "button small" %>
        <% review.comments.each_with_index do |comment, i| %>
          <p class = "panel"> Comment <%= i + 1 %>: <%= comment.body %> </p>
        <% end %>
      </div>
    <% end %>
    <%= paginate @reviews %>
  </div>
</div>
