<div class="row">

  <h3><%= @sitcom.name %></h3>

  <%= image_tag @sitcom.image_url %>

  <ul>
    <li>Description: <%= @sitcom.description %></li>
    <li>Start Year: <%= @sitcom.start_year %></li>
    <li>End Year: <%= @sitcom.end_year %></li>
    <li>Genre: <%= @sitcom.genre %></li>
    <li>Network(s): <%= @sitcom.network %></li>
    <li>Average Rating: <span class="avg_rating" data-score= <%= @avg_rating %>></span></li>
  </ul>

  <% if @sitcom.owner_or_admin?(current_user) %>
    <%= link_to "Delete", @sitcom, method: :delete, :class => "button", data: {confirm: "Are you sure?"} %>
    <%= link_to "Edit", edit_sitcom_path, :class => "button" %>
  <% end %>

  <%= link_to "Write Review", new_sitcom_review_path(@sitcom), :class => "button" %>

  <h3> Reviews </h3>
  <% @reviews.each do |review| %>
    <div class="review panel">
      <div class="review_rating" data-score= <%= review.rating %>></div>

      <div class="voting">
        <% if review.user_upvoted?(current_user) %>
          <%= link_to "⬆", review_upvotes_path(review), method: :post, :class => "upvote" %>
        <% else %>
          <%= link_to "⬆", review_upvotes_path(review), method: :post %>
        <% end %>
        <% if review.user_downvoted?(current_user) %>
          <%= link_to "⬇", review_downvotes_path(review), method: :post, :class => "downvote" %>
        <% else %>
          <%= link_to "⬇", review_downvotes_path(review), method: :post %>
        <% end %>
      <%= review.sum_of_votes %>
      </div>

      <p><%= review.body %> Rating: <%= review.rating %></p>
      <p class = "post_by">Posted by: <%= review.user.email %> at <%= review.created_at %></p>

      <% if review.owner_or_admin?(current_user) %>
        <%= link_to "Edit", edit_review_path(review), :class => "button small" %>
        <%= link_to "Delete", review, method: :delete, :class => "button small", data: {confirm: "Are you sure?"} %>
      <% end %>

      <%= link_to "Comment on Review", new_review_comment_path(review), :class => "button small" %>

      <% review.comments.each_with_index do |comment, i| %>
        <p class = "panel"> Comment <%= i + 1 %>: <%= comment.body %> </p>
      <% end %>
    </div>
  <% end %>
  <%= paginate @reviews %>
</div>
