<!DOCTYPE html>
<html>
<head>
  <title>Sitcoms</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Sitcoms</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>

      <div class="search left">
        <form action=<%= sitcoms_path %> method="GET">
          <input id="searchBar" type="text" name="search" value="">
          <input id="searchButton" type="submit" value="Search!">
        </form>
      </div>
    </section>
  </nav>


  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %> flash-messages">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
